<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/4.0.0-alpha.9/lib.min.js" integrity="sha512-UZyx3cNhem0l2nxYk6Yl8hZdSxqFRTAGMspsYVYLMUVJ12rhbAOsJP93UaVzuBz0iBZ9cg/UTh5wu43qmSpEcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="boiss">
       wow
    </div>
</body>
</html>